<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>

    <ComponentGroup Id="Excel" Directory="ASSEMBLIESDIR">
      <Component Id="XLL32" Guid="*">
        <File Source="..\..\Excel_Toolkit\Build\BHoM-AddIn.xll" />
      </Component>
      <Component Id="XLL64" Guid="*">
        <File Source="..\..\Excel_Toolkit\Build\BHoM-AddIn64.xll" />
      </Component>
      <Component Id="DNA32" Guid="*">
        <File Source="..\..\Excel_Toolkit\Build\BHoM-AddIn.dna" />
      </Component>
      <Component Id="DNA64" Guid="*">
        <File Source="..\..\Excel_Toolkit\Build\BHoM-AddIn64.dna" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Grasshopper" Directory="ASSEMBLIESDIR">
      <Component Id="GHA" Guid="{A1EE1994-996D-4AF2-B61E-DA5C910534CC}">
        <File KeyPath="yes" Source="..\..\Grasshopper_Toolkit\Build\BH.UI.Grasshopper.dll" Name="BH.UI.Grasshopper.gha" />
        <util:RemoveFolderEx On="install" Property="GHBHoMFolder" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Revit2018" Directory="R2018DIR">
      <Component Id="RevitAddin2018">
        <File Source="..\..\Revit_Toolkit\Revit_UI\Files\BHoM_2018.Addin" />
        <util:RemoveFolderEx On="install" Property="R2018BHoMFolder" />
        <RemoveFile On="install" Id="RemoveLegacyAddin18" Name="BHoM.Addin"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Revit2019" Directory="R2019DIR">
      <Component Id="RevitAddin2019">
        <File Source="..\..\Revit_Toolkit\Revit_UI\Files\BHoM_2019.Addin" />
        <util:RemoveFolderEx On="install" Property="R2019BHoMFolder" />
        <RemoveFile On="install" Id="RemoveLegacyAddin19" Name="BHoM.Addin"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Revit2020" Directory="R2020DIR">
      <Component Id="RevitAddin2020">
        <File Source="..\..\Revit_Toolkit\Revit_UI\Files\BHoM_2020.Addin" />
        <util:RemoveFolderEx On="install" Property="R2020BHoMFolder" />
        <RemoveFile On="install" Id="RemoveLegacyAddin20" Name="BHoM.Addin"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Dynamo">
      <Component Id="DynPkg13" Directory="DYNAMOREVIT13BHOMDIR">
        <File Source="..\..\Dynamo_Toolkit\Dynamo13\pkg.json" Id="Dynamo13pkg">
          <CopyFile Id="CpyDynamo13Pkg" DestinationDirectory="DYNAMOCORE13BHOMDIR" />
        </File>
        <util:RemoveFolderEx On="both" Property="DYNAMOCORE13BHOMDIR" />
        <util:RemoveFolderEx On="both" Property="DYNAMOREVIT13BHOMDIR" />
      </Component>
      <Component Id="DynPkg20" Directory="DYNAMOREVIT20BHOMDIR">
        <File Source="..\..\Dynamo_Toolkit\Dynamo20\pkg.json" Id="Dynamo20pkg">
          <CopyFile Id="CpyDynamo20Pkg" DestinationDirectory="DYNAMOCORE20BHOMDIR" />
          <CopyFile Id="CpyDynamo23Pkg" DestinationDirectory="DYNAMOCORE23BHOMDIR" />
          <CopyFile Id="CpyDynamoR23Pkg" DestinationDirectory="DYNAMOREVIT23BHOMDIR" />
        </File>
        <util:RemoveFolderEx On="both" Property="DYNAMOCORE20BHOMDIR" />
        <util:RemoveFolderEx On="both" Property="DYNAMOREVIT20BHOMDIR" />
        <util:RemoveFolderEx On="both" Property="DYNAMOCORE23BHOMDIR" />
        <util:RemoveFolderEx On="both" Property="DYNAMOREVIT23BHOMDIR" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Core" Directory="INSTALLFOLDER">
      <Component Id="CleanExisting">
        <RegistryKey Root="HKCU" Key="Software\BHoM">
          <RegistryValue Name="Installer" Type="integer" Value="1"></RegistryValue>
        </RegistryKey>
        <util:RemoveFolderEx On="both" Property="INSTALLFOLDER" />
      </Component>
    </ComponentGroup>

	</Fragment>
</Wix>
