<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="CommonAppDataFolder">
        <Directory Id="INSTALLFOLDER" Name="BHoM">
          <Directory Id="ASSEMBLIESDIR" Name="Assemblies" />
          <Directory Id="FILESDIR" Name="Datasets" />
          <Directory Id="UPGRADESDIR" Name="Upgrades" />
          <Directory Id="SETTINGSDIR" Name="Settings">
            <Directory Id="PYTHONSETTINGSDIR" Name="Python" />
            <Directory Id="REVITSETTINGSDIR" Name="Revit">
              <Directory Id="REVITSETTINGSDIR2020" Name="2020" />
              <Directory Id="REVITSETTINGSDIR2021" Name="2021" />
              <Directory Id="REVITSETTINGSDIR2022" Name="2022" />
              <Directory Id="REVITSETTINGSDIR2023" Name="2023" />
            </Directory>
          </Directory>
          <Directory Id="LOGSDIR" Name="Logs" />
          <Directory Id="EXTENSIONSDIR" Name="Extensions">
            <Directory Id="PYTHONCODEDIR" Name="PythonCode" />
            <Directory Id="REVITEXTENSIONSDIR" Name="Revit">
              <Directory Id="REVITEXTENSIONSDIR2020" Name="2020" />
              <Directory Id="REVITEXTENSIONSDIR2021" Name="2021" />
              <Directory Id="REVITEXTENSIONSDIR2022" Name="2022" />
              <Directory Id="REVITEXTENSIONSDIR2023" Name="2023" />
            </Directory>
           </Directory>

          <Directory Id="RESOURCESDIR" Name="Resources">
            <Directory Id="REVITRESOURCESDIR" Name="Revit" />
          </Directory>
        </Directory>
      </Directory>

			<Directory Id="AppDataFolder">
        <Directory Id="OLDINSTALLFOLDER" Name="BHoM">
          <Directory Id="OLDASSEMBLIESDIR" Name="Assemblies" />
        </Directory>

        <Directory Id="GHDIR" Name="Grasshopper" >
          <Directory Id="GHLIBSDIR" Name="Libraries">
            <Directory Id="GHBHOMDIR" Name="BHoM" />
          </Directory>
        </Directory>

        <Directory Id="AUTODESKDIR" Name="Autodesk" >
          <Directory Id="REVITDIR" Name="Revit">
            <Directory Id="REVITADDINSDIR" Name="Addins">
              <Directory Id="R2018DIR" Name="2018">
                <Directory Id="R2018BHOMDIR" Name="BHoM" />
              </Directory>
              <Directory Id="R2019DIR" Name="2019">
                <Directory Id="R2019BHOMDIR" Name="BHoM" />
              </Directory>
              <Directory Id="R2020DIR" Name="2020">
                <Directory Id="R2020BHOMDIR" Name="BHoM" />
              </Directory>
              <Directory Id="R2021DIR" Name="2021">
                <Directory Id="R2021BHOMDIR" Name="BHoM" />
              </Directory>
              <Directory Id="R2022DIR" Name="2022">
                <Directory Id="R2022BHOMDIR" Name="BHoM" />
              </Directory>
              <Directory Id="R2023DIR" Name="2023">
                <Directory Id="R2023BHOMDIR" Name="BHoM" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
	</Fragment>
</Wix>
